
<h1>List of all movies</h1>

<hr>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th></th>
  </tr>

  <% @movies_list.each do |mov| %>
    <tr>
      <td> <%= mov.id %> </td>
      <td>
        <img src="<%= mov.image %>" width="100">
      </td>
      <td> <%= mov.title %> </td>
      <td> <%= mov.year %> </td>




      
      <td>
        <a href="/movies/<%= mov.id %>">Show details</a>
      </td>
    </tr>
  <% end %>
</table>
