
<h1>
  Movie #<%= @this_mov.id %> details
</h1>

<a href="/movies">
  Go back
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd> <%= @this_mov.title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @this_mov.year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @this_mov.duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
  <%= @this_mov.description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @this_mov.image %>" width="100">
  </dd>

  <dt>
    Director
  </dt>
  <dd>
    <% matching_dir = Director.where({ :id => @this_mov.director_id }).first %>
    <%= matching_dir.name %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @this_mov.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @this_mov.updated_at %>
  </dd>
</dl>

<hr>
